<!-- Start header_area -->
<header class="header_area header_v1 transparent_header">
	<div class="container">
		<div class="site_menu">
			<div class="row align-items-center">
				<div class="col-lg-2">
					<div class="brand">
						<a href="{{site.url}}" class="logo"><img src="{{site.site_logo}}" class="img-fluid"
								alt="{{site.title}}" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile_wrapper">
			<div class="mobile_header">
				<div class="row align-items-center">
					<div class="col-6">
						<div class="brand_logo">
							<a href="{{site.url}}"><img src="{{site.site_logo}}" class="img-fluid" alt="{{site.title}}" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- End header_area -->