<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="{{ " /assets/images/shape/shape_10.png" | absolute_url }}" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Ils ont adopté les PWA</h2>
					<p>De nombreux sites adoptent le modèle PWA pour fidéliser leurs clients et augmenter les ventes</p>
				</div>
			</div>
		</div>
		<div class="projects_slider_content">
			<div class="single_project cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ " /assets/images/lyft.png" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<p>Les utilisateurs d'appareils plus anciens effectuent 11 % de trajets en plus dans la PWA de Lyft que les
							utilisateurs natifs et cliquent sur "Installer la PWA" 40 % plus souvent que sur "Télécharger
							l'application".</p>
					</div>
				</div>
			</div>
			<div class="single_project cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ " /assets/images/starbucks.png" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<p>La PWA Starbucks a multiplié par 2 le nombre d'utilisateurs actifs quotidiens. Les commandes sur
							ordinateur sont presque au même rythme que sur mobile.</p>
					</div>
				</div>
			</div>
			<div class="single_project cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ " /assets/images/trivago.png" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<p>Trivago a vu une augmentation de 150% pour les personnes qui ajoutent son PWA à l'écran d'accueil. Un
							engagement accru a entraîné une augmentation de 97 % des clics sur les offres d'hôtels. Les utilisateurs
							qui se déconnectent pendant la navigation peuvent continuer à accéder au site et 67 % continuent à
							naviguer sur le site lorsqu'ils se reconnectent</p>
					</div>
				</div>
			</div>
			<div class="single_project cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ " /assets/images/tinder.png" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<p>Tinder a réduit les temps de chargement de 11,91 secondes à 4,69 secondes avec leur nouveau PWA. La PWA
							est 90 % plus petite que l'application Android native de Tinder. L'engagement des utilisateurs est en
							hausse dans tous les domaines sur la PWA.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->